* {
    margin: 0;
}

.tekst {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 5vh;
    line-height: 100vh;
    letter-spacing: 4px;
}