@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

nav {
    font-size: 0px;
    /* przy elementach liniowych-blokowych do zlikwidowania
     przerw w wyświetlaniu elementów ustawiane dla rodzica elementu */
}

nav a {
    /* box-sizing: border-box; pzry gwiazdce wszystkim elementom*/
    display: inline-block;
    font-size: 28px;
    width: 25%;
    height: 40px;
    background-color: #ccc;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    line-height: 40px;
    /* padding: 10px 0; */
}



nav a.btn1 {
    background-color: rgb(214, 87, 231);
}

nav a.btn2 {
    background-color: rgb(155, 222, 135);
}

nav a.btn3 {
    background-color: rgb(90, 187, 65);
}

nav a.btn4 {
    background-color: rgb(233, 76, 49);
}

nav a:hover {
    border-bottom: 4px solid #000;
    color: #000;
    background-color: #fff;
}

header {
    height: 300px;
    background-color: rgba(87, 119, 180);
}

main {
    min-height: 50vh;
    background-color: rgb(243, 180, 104);
}

footer {
    min-height: 100px;
    background-color: rgb(82, 112, 112);
}